.app {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
}

.entete {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: black;
  box-shadow: 1px 1px 1px rgba(53, 52, 52, 0.34);
}

.entete h1 {
  color: white;
}

.Title{
  margin-top: 10vh;
}

.entete img {
  width: 100px;
}

.solde {
  width: 50%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  margin: 5% 25%;
  box-shadow: 1px 0.5px 0.5px 1px rgba(53, 52, 52, 0.34);
}

.solde p {
  margin-bottom: 0.5rem;
  font-weight: 700;
  font-size: 20px;
}

.solde h1 {
  font-weight: 600;
  font-size: 50px;
  height: 5vh;
}
.solde hr{
  width: 15%;
  background-color: rgba(0, 0, 0, 0.211);
}

.menu-principal {
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.menu-principal button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
}

.menu-principal button.active {
  background-color: #ddd;
}
